body {
  background: rgb(166, 219, 204);
  background: radial-gradient(
    circle,
    rgba(166, 219, 204, 0.3799894957983193) 0%,
    rgba(11, 212, 174, 0.5060399159663865) 100%
  );
  font-family: "Barlow Semi Condensed", sans-serif;
  height: auto;
  margin: 50px;
}
html {
  width: 1500px;
  height: 1000px;
}

#wrap {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#wrapper2 {
  display: flex;
  flex-wrap: wrap;
}
#wrapper2 > div {
  flex: 1;
  min-width: 100px;
}

.iconBox {
  position: relative;
  text-align: center;
  height: 500px;
  width: 100px;
}

.imgDown {
  min-height: 300px;
  width: auto;
  position: relative;
  border-radius: 10px;
}
.imgInfo {
  max-height: 75px;
  width: auto;
  position: relative;
  border-radius: 10px;
}

h1 {
  font-size: 48px;
  position: relative;

  color: #000000;
}

dg {
  color: #48556a;
}

.PageTitle {
  position: absolute;
  top: 50px;
  left: 150px;
  color: #000000;
  font-size: 120px;
}

.RightImg {
  position: absolute;
  top: 250px;
  right: 15%;
  width: 400px;
  height: 500px;
  margin-right: 50px;
}

@media screen and (max-width: 1300px) {
  .imgDisp {
    display: none !important;
  }
}

.Subtitle {
  position: absolute;
  top: 350px;
  left: 150px;
  font-size: 56px;
  width: 500px;
  text-align: justify;
}
.Description {
  font-size: 24px;
}

.imgDisp {
  min-height: 600px;
  max-height: auto;
  width: auto;
  position: relative;
  border-radius: 10px;
  top: 100px;
  right: 100px;
  margin-bottom: 10%;
}
